body {
    margin: 0;
    padding: 0;
    font-family: 'Arapey', serif;
}

nav {
    background-color: #fffcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 6em;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 250%;
}

nav .logo img {
    width: 7em !important;
    height: 5em !important;
    margin-left: 1.5em;
}


header {
    position: relative;
    text-align: center;
    color: white;
}

.page-wrapper {
    min-height: 100vh;
    background-image: url(./assets/form\ background.jpg);
    background-size: cover;
    background-position: center;
}

.container  {
    box-sizing: border-box;
    width: 80%;
    margin: 20px auto;
}

.contact-header {
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
    color: black;
    box-sizing: border-box;
}

.frequent-links {
    float: left;
    width: 20%;
    background-color: transparent;
    margin-right: 2%;
    box-sizing: border-box;
    font-size: 2em;
}

.frequent-links h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.frequent-links ul {
    list-style: none;
}

.frequent-links li {
    margin-bottom: 5px;
}

.frequent-links a {
    text-decoration: none;
    color: black;
    display: block;
}

.frequent-links a:hover {
    color: blue;
}

form {
    float: left;
    width: 50%;
    background-color: transparent;
    margin-left: 18%;
    margin-right: -6%;
    font-size: 1.5em;
    font-weight: bold;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
    width: 40%;
    padding: 1%;
}

form button {
    background-color: green;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

form button:hover {
    background-color: darkgreen;
}

.travel {
    float: left;
    width: 25%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: -15%;
}

.travel ul {
    list-style: none;
}

.travel li {
    margin-bottom: 10px;
}

.travel img {
    display: block;
    width: 5em;
    height: 5em;
    border-radius: 10em;
    margin-bottom: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcfc;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h4 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 60%;
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 40%;
    margin-bottom: 20%;
}

ul.social li {
    margin-bottom: 0;
}

.social li img {
    padding: .5em;
    width: 3em;
    height: 3em;
}

.contact-us {
    text-decoration: none;
    font-weight: strong;
    color: black;
    font-size: 3em;
    border: transparent 10px;
    padding: 1em 5em;
}
