body {
    margin: 0;
    padding: 0;
    font-family: 'Arapey', serif;
}

nav {
    background-color: #fffcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 6em;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 250%;
}

nav .logo img {
    width: 7em !important;
    height: 5em !important;
    margin-left: 1.5em;
}


header {
    position: relative;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: 50em;
    object-fit: cover;
    display: block;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12em;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

section {
    background-color: #fffcfc;
    text-align: center;
}

section h2 {
    margin-bottom: 1em;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
}


section li {
    flex: 1;
    margin: 0 1em;
}

section img {
    border-radius: 1em;
    width: 25em;
    height: 17em;
    box-shadow: -6px 6px 2px lightgray;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

span {
    display: block;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
}

section.more-cities {
    font-size: 3em;
    text-decoration: none;
    color: black;
    padding: 30px;
    display: inline-block;
}

section.more-cities img {
    border-radius: 1em;
    width: 25em;
    height: 17em;
    box-shadow: -6px 6px 2px lightgray;
}

aside {
    position: relative;
}

aside .nickname {
    position: relative;
}

aside .nickname img {
    width: 100%;
    height: 70em;
    display: block;
}

aside .nickname h2 {
    position: absolute;
    font-size: 4.5em;
    font-weight: 800;
    font-style: italic;
    bottom: 2em;
    left: 0;
    background-color: #FFD952;
    padding: .2em;
    box-sizing: content-box;
    border: solid #FFD952 10px;
    box-shadow: -6px 6px 2px lightgray;
    z-index: 1;
}

aside .nickname p {
    background-color: #fffcfc;
    text-wrap: wrap;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    padding: .5em;
    margin: 0;
    box-sizing: content-box;
    border: transparent 10px;
    position: relative;
    top: 1em;
}


.old-map {
    width: 100%;
    height: 45em;
}

aside .moto {
    position: relative;
}

aside .moto img {
    width: 100%;
    height: 80em;
}

aside .moto h3 {
    position: absolute;
    font-size: 4.5em;
    white-space: wrap;
    top: 3em;
    left: 3em;
    color: white;
    padding: .5em;
    margin: .5em;
    box-sizing: content-box;
    border: transparent 10px;
    max-width: 10em;
}

#source {
    margin-top: 3em;
    align-self: flex-end;
    margin-left: 90%;
}

#source h3 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
}

#source ul {
    list-style-type: none;
    padding: 0;
}

#source li {
    font-size: 1em;
    margin: 0;
}

#source li a {
    font-size: 2em;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.city-aside {
    width: 100%;
    overflow: hidden;
}

.city-item {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
}

.city-item img {
    width: 100%;
    height: 40em;
    display: block;
    margin: 0;
    padding: 0;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcfc;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h4 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 60%;
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 40%;
    margin-bottom: 20%;
}

ul.social li {
    margin-bottom: 0;
}

.social li img {
    padding: .5em;
    width: 3em;
    height: 3em;
}

.contact-us {
    text-decoration: none;
    font-weight: strong;
    color: black;
    font-size: 3em;
    border: transparent 10px;
    padding: 1em 5em;
}

form {
    max-width: 600px;
    margin: 5% 25% auto;
    float: inline-end;
}

.page-wrapper {
    min-height: 100vh;
    background-image: url(./assets/form\ background.jpg);
    background-size: cover;
    background-position: center;
}

label {
    display: block;
    margin-bottom: 1%;
    color: #333;
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

input, textarea {
    width: 200%;
    padding: 5%;
    margin-bottom: 5%;
    box-sizing: border-box;
}

button {
    background-color: #45a048;
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    padding: 2% 4%;
    border: none;
    border-radius: 4%;
    cursor: pointer;
}

button:hover {
    background-color: #173c19;
}






