body {
    margin: 0;
    padding: 0;
    font-family: 'Arapey', serif;
}

nav {
    background-color: #fffcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 6em;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 250%;
}

nav .logo img {
    width: 7em !important;
    height: 5em !important;
    margin-left: 1.5em;
}


header {
    position: relative;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: 50em;
    object-fit: cover;
    display: block;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 12em;
    margin: 0;
    font-style: italic;
    font-weight: 700;
}

section {
    position: relative;
    background-color: #fffcfc;
}

.city-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.city-overview img {
    width: 17em;
    height: 17em;
    align-self: flex-end;
    margin-right: 3em;
    margin-top: 3em;
}

.city-overview h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 5em;
    background-color: #FFD952;
    color: black;
    padding: 1% 3%;
    margin: -4.8em 0 0 0;
    box-sizing: content-box;
    border: solid #FFD952 15px;
    box-shadow: -6px 6px 2px lightgray;
    margin-bottom: 0;
}

.city-overview p {
    background-color: #fffcfc;
    text-wrap: wrap;
    font-size: 3.5em;
    text-indent: 3%;
    padding: 1rem;
    margin: 1% 2% 0 2%;
    box-sizing: content-box;
    border: transparent 5px;
    max-width: 1900px;
}

#source1 {
    margin-top: 1em;
    align-self: flex-end;
    margin-left: 80%;
    margin-right: 1em;
}

#source1 h3 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
}

#source1 ul {
    list-style-type: none;
    padding: 0;
}

#source1 li {
    font-size: 1em;
    margin: 0;
}

#source1 li a {
    font-size: 2em;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.region-classification {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#main-image {
    width: 100%;
    height: 70em;
    margin-bottom: -1em;
}

#side-image {
    width: 18em;
    height: 18em;
    align-self: flex-start;
    margin-left: 2%;
    margin-top: 2%;
}

.region-classification h2 {
    font-size: 6em;
    font-style: italic;
    font-weight: 800;
    background-color: #FFD952;
    color: black;
    padding: 1% 3%;
    margin: -4.2em 0 0 0;
    box-sizing: content-box;
    border: solid #FFD952 15px;
    box-shadow: 6px 6px 2px lightgray;
    margin-bottom: 0;
}

.region-classification p {
    background-color: #fffcfc;
    text-wrap: wrap;
    font-size: 3em;
    text-indent: 3%;
    padding: 1%;
    margin: 1% 5% -1% 3%;
    box-sizing: content-box;
    border: transparent 5px;
    max-width: 2000px;
}

#source2 {
    margin-top: 0;
    align-self: flex-start;
    margin-left: 90%;
}

#source2 h3 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
}

#source2 ul {
    list-style-type: none;
    padding: 0;
}

#source2 li {
    font-size: 2em;
    margin: 0;
}

#source2 li a {
    font-size: 1em;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.income-economy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.income-economy img {
    width: 100%;
    height: 70em;
}

.income-economy h2 {
    font-size: 6em;
    font-style: italic;
    font-weight: 800;
    background-color: #FFD952;
    color: black;
    padding: 1% 3%;
    margin: -1em 0 0 0;
    box-sizing: content-box;
    border: solid #FFD952 15px;
    box-shadow: -6px 6px 2px lightgray;
    margin-bottom: .5em;
}

.economy-info {
    background-color: #fffcfc;
    text-wrap: wrap;
    font-size: 3em;
    text-indent: 4%;
    box-sizing: content-box;
    border: transparent 5px;
    display: flex;
    margin: 0 3% 0 3%;
}

.economy-text{
    flex: 1;
    margin-right: 2%;
    box-sizing: border-box;
}

.economy-table {
    float: right;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

table {
    max-width: 50%;
    width: 50%;
    height: 5%;
    border-collapse: collapse;
    margin: 1% 0;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

#source3 {
    margin-top: 1%;
    margin-right: 2em;
}

#source3 h3 {
    font-size: 2em;
    font-style: italic;
    margin-left: 1%;
}

#source3 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

#source3 li {
    margin-left: 1%;
}

#source3 li a {
    font-size: 2em;
    font-style: italic;
    text-decoration: none;
    color: black;
}

.national-parks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fffcfc;
}

#header-img {
    width: 100%;
    height: 70em;
    margin-bottom: -2%;
}

.national-parks h2 {
    font-size: 6em;
    font-style: italic;
    font-weight: 800;
    background-color: #FFD952;
    color: black;
    padding: 1% 5%;
    margin: -1% 0 0 auto;
    box-sizing: content-box;
    border: solid #FFD952 15px;
    box-shadow: 6px 6px 2px lightgray;
    margin-bottom: 1%;
    width: 25%;
}

.park-info {
    display: flex;
}

.park-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.park {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-top: 2%;
}

.images {
    position: relative;
    flex: 1;
}

.main {
    width: 60em;
    height: 50em;
    display: block;
    border-radius: 5%;
}

.map {
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: 15em;
    height: 18em;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0 6px 2px lightgray;
}

.park-details {
    font-size: 4em;
    flex: 2;
    margin-left: 400px;
}

.park-details ol {
    padding: 1%;
}

#source4 {
    position: absolute;
    bottom: 0;
    right: 4%;
    margin-bottom: 0;
}

#source4 h3 {
    font-size: 2em;
    font-style: italic;
    margin: 0;
}

#source4 ul {
    list-style-type: none;
    padding: 0;
}

#source4 li {
    margin: 0;
}

#source4 li a {
    font-size: 2em;
    font-style: italic;
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcfc;
}

.social-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h4 {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 20%;
    margin-left: 60%;
}

ul.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 40%;
    margin-bottom: 20%;
}

ul.social li {
    margin-bottom: 0;
}

.social li img {
    padding: .5em;
    width: 3em;
    height: 3em;
}

.contact-us {
    text-decoration: none;
    font-weight: strong;
    color: black;
    font-size: 3em;
    border: transparent 10px;
    padding: 2em 7em;
}

